
body {
  margin: 0;
  background-color: rgb(18, 127, 121);
  width: 2048px;
  height: 1148px;
}

@font-face {
  font-family: Helvetica;
  src: url('../fonts/Helvetica.ttf');
}
.beach {
  position: relative;
  z-index: -9999;
  background: url(../images/rest.jpg) no-repeat;
  bac
  width: 2048px;
  height: 1148px;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: rgb(18, 127, 121);
  width: 1940px;
  height: 1148px;
  display: grid;
  grid-template-columns: 154px 235px 2fr 2fr 1fr 154px;
  grid-template-rows: 400px 3fr 1fr 22px;
  grid-template-areas:
  "margin-top margin-top margin-top margin-top"
  "margin-left margin-text text button margin-right"
  "margin-left horse address margin-right"
  "reference empty margin-right"
}

.text {
  grid-area: text;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  background: url(../images/assets.png) no-repeat;
  height: 189px;
  width: 1200px;
}
.button {
  grid-area: button;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background: url(../images/assets.png) no-repeat;
  background-position-x: -1200px;
  height: 170px;
  width: 170px;
}
.horse {
  grid-area: horse;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background: url(../images/assets.png) no-repeat;
  background-position-y: -180px;
  height: 125px;
  width: 255px;
}
.reference, .address {
  font-family: Helvetica;
  font-size: 20px;
}

.reference {
  grid-area: reference;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  color: #fbae17;
}
.margin-top {
  grid-area: margin-top;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.margin-left {
  grid-area: margin-left;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
.margin-text {
  grid-area: margin-text;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.margin-right {
  grid-area: margin-right;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}
.address {
  grid-area: address;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  color: #fff;
}
.line {
  border-left: 20px solid #ccc;
}
